.message_entity {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
    height: min-content;
    padding-left: 10px;
}

.message_entity .avatar_me {
    width: 40px;
    height: 40px;
    background-color: #72717d;
    border-radius: 50%;
    object-fit: cover;
}

.message_entity_pic {
    display: flex;
}

.message_entity_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
    min-height: 50px;
    padding: 20px;
}

.message_entity_content .content_text {
    margin-top: 10px;
}

.message_entity_content img {
    width: 195px;
    border-radius: 0;
    margin-top: 10px;
}

.message_entity_content video {
    width: 195px;
    margin-top: 10px;
}

.message_entity_content audio {
    width: 80%;
    margin-top: 10px;
}

.message_entity_content p {
    margin: 0;
}

.message_entity_content_date {
    font-size: 12px;
}
